.my-theme {
  --color-main: #0b151b;
  --color-secondary: #af2828;
  --color-header-blue: #1c8c49;
  --color-light: rgb(231, 221, 221);
  --color-black: rgb(12, 10, 10);
  --color-btn: #b5d900;
  --color-btn-hover: #1b6600;
  --bg-color-form: #b2d1f0;
  --bg-color-left: #dce5eb;
}