:root {
  /* color */
  --color-main: #263036;
  --color-secondary: #1E1E1E;
  --color-header-blue: #1c2e8c;
  --color-header-light: #fff;
  --bg-color-left: #86a3b4;

  /* font */
  --font-size-main: 16px;
  --font-size-2xlarge: 40px;
  --font-size-xlarge: 36px;
  --font-size-large: 32px;
  --font-size-medium: 24px;
  --font-size-small: 20px;

  /* paddings and margins */
  --space-main: 10px;
  --space-small: 2px;
}

body {
  max-width: 1440px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: var(--color-main);
}

.body {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 20px;
}


.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas:
    'side summary'
    'side skills'
    'side experience'
    'side achievements'
  ;
  border: 1px solid grey;
  border-radius: 10px;
  margin: var(--space-main) auto;
}

.side {
  grid-area: side;
}

.summary {
  grid-area: summary;
}

.skills {
  grid-area: skills;
}

.experience {
  grid-area: experience;
}

.achievements {
  grid-area: achievements;
}

/* Side bar */
.side-bar {
  background-color: var(--bg-color-left);
  padding-left: 15px;
  padding-top: 29px;
  position: relative;
}

.sticky-container {
  position: sticky;
  top: 0;
}

.header_h1 {
  color: var(--color-header-blue);
  font-size: var(--font-size-2xlarge);
  padding-left: 30px;
}

.white {
  color: var(--color-header-light);
}

.side-bar h2 {
  margin-bottom: 0;
  font-size: var(--font-size-large);
  padding-top: 18px;
  margin-left: 24px;
  border-bottom: 9px solid --color-secondary;
  display: inline-block;
  width: 80%
}

.side-bar__contact h3,
.side-bar__language h3 {
  margin-bottom: var(--space-small);
  font-size: var(--font-size-medium);
}

.side-bar__contact h3 {
  padding-top: 8px;
  padding-left: 24px;
  margin-bottom: var(--space-main);
}

.avatar {
  width: 79%;
  margin-top: var(--space-main);
}

.address-element {
  font-size: var(--font-size-main);
  padding-left: 26px;
}

.address-element a {
  text-decoration: none;
}

.side-bar__language p {
  font-weight: 600;
  margin: var(--space-small);
  font-size: var(--font-size-small);
  color: var(--color-secondary);
  padding-left: 20px;
  padding-top: 7px;
}

/* right-bar */
.right-side_section {
  padding-left: 57px;
}

.right-side_section h2 {
  font-size: var(--font-size-xlarge);
  color: var(--color-secondary);
  padding-left: var(--space-small);
  padding-top: 29px;
  border-bottom: 9px solid var(--color-secondary);
  display: inline-block;
  width: 80%;
  padding-bottom: 20px;
}

.experience p {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.work-place {
  margin-bottom: 50px;
}

.work-place p {
  margin: 0 auto;
}

.btn {
  width: 150px;
  height: 50px;
  background-color: #0048D9;
  border-radius: 6px;
}

.btn a {
  display: block;
  padding: 15px 45px;
  text-decoration: none;
  font-size: var(--font-size-main);
  font-weight: 500;
  color: #ffffff;
}

.btn:hover {
  background-color: #002266;
}

/* FORM */
.contact {
  max-width: 1024px;
  margin: 0 auto;
  height: 95vh;
}

.contact-form__header {
  text-align: center;
}

.contact-form__header+h3 {
  text-align: center;
}

.contact-form__table,
.contact-form__table th,
.contact-form__table td {
  border: 2px solid;
  width: 100%;
  border-collapse: collapse;
  padding: 5px 10px;
}

.contact-form__table th {
  width: 40%
}

.form {
  width: 500px;
  position: sticky;
  top: 31vh;
  left: 30%;
}

.contact-form__table {
  margin-bottom: 20px;
}

.contact-form__table th {
  text-align: left;
  max-width: 50%;
}

.email-container,
.description-container {
  margin-left: var(--space-main);
}

.checked:hover {
  border: 1px solid black
}

.checked:focus {
  outline: 2px solid green;
}

.contact-form__legend {
  color: #52575C;
  font-size: var(--font-size-main);
  line-height: 21px;
  font-weight: 700;
}

.contact-form__email {
  display: block;
  width: 70%;
  height: 25px;
  font-style: italic;
  padding: 0 var(--space-main);
  appearance: none;
  background: #F8FAFC;
  border: none
}

.contact-form__email:invalid {
  border: 2px solid red;
  border-radius: 5px;
}

.contact-form__textarea {
  display: block;
  resize: none;
  width: 70%;
  height: 100px;
  font-style: italic;
  padding: var(--space-main);
  border: none;
  background: #F8FAFC;
}

.contact label {
  color: #6f7482;
  font-size: var(--font-size-main);
  line-height: 24px;
  font-weight: 400;
  margin-left: var(--space-main);
}

.contact-form__select {
  display: block;
  margin-left: var(--space-main);
  width: 72%;
  background-color: #f8fafc;
  height: 30px;
  border: none;
}

.contact-form__select option {
  font-size: var(--font-size-main);
}

.text-btn {
  font-size: var(--font-size-main);
  font-weight: 500;
  color: var(--color-header-light);
  margin-left: var(--space-main);
  cursor: pointer;
  border: none;
}

div.btn {
  margin-left: var(--space-main);
}

a.back-btn {
  padding: 15px 33px;
  color: black;
}

.homepage-btn {
  background-color: aqua;
}

.homepage-btn:hover {
  background-color: blueviolet;
}