body {
  color: #333;
  font-family: Arial,
    Helvetica,
    sans-serif;
}

h1 {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.table-experience,
.row-experience,
.data-experience {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

th {
  text-transform: uppercase;
}

.site {
  color: #00f;
}

.site:visited {
  color: #005;
}

.site:hover {
  text-decoration: none;
}

.row-head {
  background-color: lightgray;
}

.data-date {
  font-weight: bold;
}
.skills{
  list-style: square;
}