.my-theme .left-side-bar {
  background-color: #dce5eb;
}
.my-theme .left-side-bar .header h1 {
  color: #1c8c49;
}
.my-theme .left-side-bar .header h2 {
  border-bottom: 9px solid #af2828;
}
.my-theme .right-side-bar section h2 {
  border-bottom: 9px solid #af2828;
}
.my-theme .right-side-bar .btn a:hover {
  background-color: red;
}

body {
  max-width: 1440px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #263036;
}

.body {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: "side summary" "side skills" "side experience" "side achievements";
  border-radius: 10px;
  margin: 10px auto;
}

.side {
  grid-area: side;
}

.summary {
  grid-area: summary;
}

.skills {
  grid-area: skills;
}

.experience {
  grid-area: experience;
}

.achievements {
  grid-area: achievements;
}

.left-side-bar {
  background-color: #86a3b4;
  padding-left: 15px;
  padding-top: 29px;
  position: relative;
  box-shadow: 1px 0px 13px 7px rgba(80, 75, 75, 0.25);
  animation-name: loader;
  animation-duration: 2s;
  animation-timing-function: linear;
}
@keyframes loader {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.left-side-bar .header h1 {
  color: #1c2e8c;
  font-size: 40px;
  padding-left: 30px;
}
.left-side-bar .header h1 .white {
  color: #fff;
}
.left-side-bar .header .img {
  transition: transform 1s ease-in 0s, filter 1s ease-in 1s;
}
.left-side-bar .header .img:hover {
  transform: scale(1.8) translate(76px, 50px);
  filter: drop-shadow(10px 10px 16px rgba(0, 0, 0, 0.25));
}
.left-side-bar .header .img .avatar {
  width: 79%;
  margin-top: 10px;
}
.left-side-bar h2 {
  margin-bottom: 0;
  font-size: 32px;
  padding-top: 18px;
  margin-left: 24px;
  border-bottom: 9px solid #1e1e1e;
  display: inline-block;
  width: 80%;
}
.left-side-bar h3 {
  margin-bottom: 2px;
  font-size: 24px;
}
.left-side-bar .contact h3 {
  padding-top: 8px;
  padding-left: 24px;
  margin-bottom: 10px;
}
.left-side-bar .contact .element {
  font-size: 16px;
  padding-left: 26px;
}
.left-side-bar .contact .element a {
  text-decoration: none;
}
.left-side-bar .language p {
  font-weight: 600;
  margin: 2px;
  font-size: 20px;
  color: #1e1e1e;
  padding-left: 20px;
  padding-top: 7px;
}

/* right-bar */
.right-side-bar {
  animation-name: loader;
  animation-duration: 3s;
  animation-timing-function: linear;
}
@keyframes loader {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.right-side-bar .section {
  padding-left: 57px;
}
.right-side-bar .section h2 {
  font-size: 36px;
  color: #1e1e1e;
  padding-left: 2px;
  padding-top: 29px;
  border-bottom: 9px solid #1e1e1e;
  display: inline-block;
  width: 80%;
  padding-bottom: 20px;
}
.right-side-bar .experience p {
  font-weight: 400;
}
.right-side-bar .experience .bold {
  font-weight: 600;
}
.right-side-bar .experience .work-place {
  margin-bottom: 50px;
}
.right-side-bar .experience .work-place p {
  margin: 0 auto;
}
.right-side-bar .experience .previous-experience {
  opacity: 70%;
  transition: opacity 1s ease-in 0s;
}
.right-side-bar .experience .previous-experience:hover {
  opacity: 100%;
}
.right-side-bar .btn {
  width: 150px;
  height: 50px;
  background-color: #0048d9;
  border-radius: 6px;
}
.right-side-bar .btn a {
  display: block;
  padding: 15px 45px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.right-side-bar .btn:hover {
  background-color: #002266;
}

